option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
  aws:elasticbeanstalk:container:java:javaopts:
    java_opts: "-Xmx128m -Xss512k"

commands:
  01_rename_jar:
    command: "mv /var/app/current/target/*.jar /var/app/current/app.jar"
  02_run_jar:
    command: "nohup java -jar /var/app/current/app.jar > /var/log/app.log 2>&1 &"

